@charset "UTF-8";
/*--------------------------
文字に対して、一括でfont-size、line-height、letter-spacing、font-weightを指定する
---------------------------*/
/*--------------------------
文字に対して、一括でfont-size、line-height、letter-spacing、font-weightを指定する
line-heightが％の場合
---------------------------*/
/*--------------------------------
    remの換算
--------------------------------*/
/*--------------------------------
    vwにする
--------------------------------*/
/*--------------------------------
    親要素に対する割合
--------------------------------*/
/*--------------------------------
    親要素に対する割合
--------------------------------*/
/*--------------------------------
背景のグラデーション
--------------------------------*/
/*--------------------------------
一次関数
画面幅 1440pxの時は、120pxで、そこからどんどん小さくなり、1000pxの時に20pxになるという実装の際に使える関数。
--------------------------------*/
/*--------------------------------
一次関数（最大値、最小値付き）
画面幅 1440pxの時は、120pxで、そこからどんどん小さくなり、1000pxの時に20pxになるという実装の際に使える関数。
--------------------------------*/
/*--------------------------------
擬似要素の背景
--------------------------------*/
/*--------------------------------
三角形
--------------------------------*/
/*--------------------------------
リキッドの設定
--------------------------------*/
html {
  font-size: 16px;
}
@media (min-width: 1281px) {
  html {
    font-size: 1.25vw;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 1.25vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}

/*--------------------------
  フォント読み込み
---------------------------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #3b3b3b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1330px;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 500px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.values {
  overflow: hidden;
  padding-top: 4.125rem;
  padding-bottom: 3.625rem;
}
@media screen and (max-width: 768px) {
  .values {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
  }
}

.values__heading {
  display: grid;
  grid-template-columns: max-content 18.375rem 15.1875rem max-content;
  align-items: center;
  column-gap: 1.375rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
@media screen and (max-width: 768px) {
  .values__heading {
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.values__number {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #717171;
}
@media screen and (max-width: 768px) {
  .values__number {
    font-size: 1.5rem;
    line-height: 1.2083333333;
  }
}

.values__title {
  font-size: 3.5rem;
  line-height: 1.1964285714;
  font-weight: 300;
  color: #717171;
}
@media screen and (max-width: 768px) {
  .values__title {
    font-size: 2.375rem;
    line-height: 1.2105263158;
  }
}

.values__line {
  display: block;
  width: 100%;
  border-top: 1px solid #717171;
}
@media screen and (max-width: 768px) {
  .values__line {
    grid-column: 1/-1;
    grid-row: 2;
  }
}

.values__heading-ja {
  font-size: 1.5rem;
  line-height: 1.4166666667;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #717171;
}
@media screen and (max-width: 768px) {
  .values__heading-ja {
    font-size: 1.0625rem;
    line-height: 1.6470588235;
    grid-column: 1/-1;
    grid-row: 3;
  }
}

.values__body {
  display: grid;
  grid-template-columns: 54.2% 45.8%;
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 4rem;
}
@media screen and (max-width: 768px) {
  .values__body {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
    padding-top: 2.75rem;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.values__lead {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #717171;
}
@media screen and (max-width: 768px) {
  .values__lead {
    font-size: 1.75rem;
    line-height: 1.4285714286;
  }
}

.values__copy {
  color: #717171;
  padding-left: 0.375rem;
}
@media screen and (max-width: 768px) {
  .values__copy {
    padding-left: 0;
  }
}

.values__copy-ja {
  font-size: 0.9375rem;
  line-height: 1.8666666667;
  letter-spacing: 0.02em;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .values__copy-ja {
    font-size: 0.9375rem;
    line-height: 1.9333333333;
  }
}

.values__copy-en {
  font-size: 0.75rem;
  line-height: 1.9166666667;
  letter-spacing: 0.005em;
  font-weight: 300;
  padding-top: 0.875rem;
}
@media screen and (max-width: 768px) {
  .values__copy-en {
    padding-top: 1.125rem;
  }
}

@media screen and (max-width: 768px) {
  .values__break-pc {
    display: none;
  }
}

.values__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1875rem;
  padding-top: 2.25rem;
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .values__gallery {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
    padding-right: 0.1875rem;
    padding-left: 0.1875rem;
  }
}

.values__image {
  overflow: hidden;
  aspect-ratio: 683/496;
}

.values__image img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
